@import '../utils/colors.scss';
@import url(../base/reset.css);
@import url(../base/typography.css);
@import '../utils/variables.scss';
@import '../utils/utils.scss';

// ----- start Header -----
#main-header {
  width: 100%;
  @include display-jBetween-iCenter();
  // background: $header-bg;
  padding: 3rem 5rem;
  position:absolute;
  z-index: 1;
}

#main-nav-container {
  #main-nav {
    @include display-jBetween-iCenter();

    .nav-item {
      margin: 0 2.5rem;

      a {
        color: $main-color;
        font: {
          size: 1.6rem;
          weight: 500;
        }
      }

      a:hover {
        border-bottom: 3px solid $main-color;
        transition: 0.2s;
      }
    }
  }
}

#icons-nav-container {
  #icons-nav {
    width: 100%;
    @include display-jBetween-iCenter();

    li {
      margin-left: 2.5rem;

      i {
        font-size: 1.6rem;
        color: $main-color;
      }

      i:hover {
        color: $main-color-light;
        transition: 0.2s;
      }
    }
  }
}

.cart-badge {
  background: $main-color;
  color: $header-bg;
  padding: 2px 3.8px;
  border-radius: 30px;
  font-size: 1rem;
  position: absolute;
  top: 2.5rem;
  right: 8rem;
  line-height: 1;
}