@import url(../base/reset.css);
@import url(../base/typography.css);
@import url(../base/typography.css);
@import url(../base/reset.css);
.logo {
  color: #463232;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Raleway;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 5rem 14rem;
}

.section-side {
  width: 50%;
}

.left-section {
  padding-right: 7rem;
}

.right-section {
  padding-left: 7rem;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-image {
  width: 100%;
  height: 80vh;
  margin-top: 8rem;
}

.section-header {
  color: #463232;
  font-size: 7rem;
  font-weight: 500;
}

.section-title {
  color: #463232;
  font-size: 5rem;
  font-weight: 500;
}

.main-paragraph {
  color: #7d7d7d;
}

.vertical-hr {
  width: 0.16rem;
  height: 14vh;
  background: #463232;
  border: 0;
}

p,
span {
  line-height: 2;
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 5rem;
}
.customers-container #arrow-badge {
  position: absolute;
  top: 495rem;
  right: 14rem;
  z-index: 100;
}
.customers-container #arrow-badge .arrow-btn i {
  margin-left: 1.5rem;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.customers-container #arrow-badge .arrow-btn i:hover {
  background: #463232;
  color: #fff;
  border: 1px solid #463232;
  border-radius: 50%;
  transition: 0.2s;
}
.customers-container .customers-box {
  width: 30%;
  background: #fff;
  padding: 5rem 3rem;
}
.customers-container .customers-box .rate .fa-star {
  color: #fc8c76;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
.customers-container .customers-box .profile-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.customers-container .customers-box .profile-box .profile-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-container .customers-box .profile-box .profile-image-container .profile-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.customers-container .customers-box .profile-box .profile-name-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-left: 1rem;
}
.customers-container .customers-box .profile-box .profile-name-box .profile-name {
  color: #463232;
  font-weight: 600;
  line-height: 1;
}
.customers-container .customers-box .profile-box .profile-name-box .user-position {
  color: #7d7d7d;
  font-weight: 500;
}

.customers-box:hover {
  box-shadow: 0 30px 80px 0.07px rgba(92, 92, 92, 0.205);
  transition: 0.2s;
}
.customers-box:hover .main-paragraph {
  color: #463232;
}

.button {
  width: 11rem;
  height: 2.8rem;
  background: #463232;
  color: #fff;
  padding: 1rem 4rem;
  margin-top: 4rem;
  border: solid 2px #463232;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
  box-shadow: 0 30px 70px 10px rgba(92, 92, 92, 0.342);
}

.button:hover {
  background: #fff;
  color: #463232;
  box-shadow: none;
  transition: 0.2s;
}

.button-white {
  width: 11rem;
  height: 2.8rem;
  background: #fff;
  color: #463232;
  padding: 1rem 4rem;
  margin-top: 4rem;
  border: solid 2px #463232;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.button-white:hover {
  background: #463232;
  color: #fff;
  box-shadow: 0 30px 70px 10px rgba(92, 92, 92, 0.342);
  transition: 0.2s;
}

/*# sourceMappingURL=buttons.css.map */
