// Base
@import url(../base/reset.css);
@import url(../base/typography.css);
// Utils
@import '../utils/colors.scss';
@import '../utils/variables.scss';

// Big Brown Button
@mixin button-brown {
  background: $main-color;
  color: $white;
  padding: 1rem 4rem;
  font-size: 1.5rem;
}
