// Base
@import url(../base/reset.css);
@import url(../base/typography.css);
// Utils
@import '../utils/colors.scss';
@import '../utils/variables.scss';
@import '../utils/utils.scss';

// Search Box
@mixin searchbox {
  width: 40%;
  @include display-jBetween-iCenter();
  padding: 1rem;
  background: $white;

  // Input
  input {
    width: 80%;
    padding: 0.4rem 0.7rem;
    border: 0;
    outline: none;
    font-size: 1.4rem;
  }

  // Search button
  .search-button {
    background: $main-color;
    padding: 0.7rem;
    border: 2px solid $main-color;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      color: $white;
    }
  }

  .search-button:hover {
    background: $white;
    border: 2px solid $main-color;
    transition: 0.2s;
    i {
      color: $main-color;
      transition: 0.2s;
    }
  }
}
