$main-color: #463232;
$main-color-light: #644949;
$paragraph-color: #7d7d7d;
$light-orange: #fef6f0;
$header-bg: #efd2c2;
$white: #fff;
$sea-green: #205865;
$Desert-sand-light: #edd9cb;
$star: #fc8c76;
$silver-light: #ebeaeb;
$transparent-0: rgba(0, 0, 0, 0);