@import url(./base/reset.css);
@import url(./base/typography.css);
@import url(../base/typography.css);
@import url(../base/reset.css);
@import url(../base/reset.css);
@import url(../base/typography.css);
@import url(../base/typography.css);
@import url(../base/reset.css);
@import url(../base/reset.css);
@import url(../base/typography.css);
@import url(../base/typography.css);
@import url(../base/reset.css);
.logo {
  color: #463232;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Raleway;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 5rem 14rem;
}

.section-side {
  width: 50%;
}

.left-section {
  padding-right: 7rem;
}

.right-section {
  padding-left: 7rem;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-image {
  width: 100%;
  height: 80vh;
  margin-top: 8rem;
}

.section-header {
  color: #463232;
  font-size: 7rem;
  font-weight: 500;
}

.section-title {
  color: #463232;
  font-size: 5rem;
  font-weight: 500;
}

.main-paragraph {
  color: #7d7d7d;
}

.vertical-hr {
  width: 0.16rem;
  height: 14vh;
  background: #463232;
  border: 0;
}

p,
span {
  line-height: 2;
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 5rem;
}
.customers-container #arrow-badge {
  position: absolute;
  top: 485rem;
  right: 14rem;
  z-index: 100;
}
.customers-container #arrow-badge .arrow-btn i {
  margin-left: 1.5rem;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.customers-container #arrow-badge .arrow-btn i:hover {
  background: #463232;
  color: #fff;
  border: 1px solid #463232;
  border-radius: 50%;
  transition: 0.2s;
}
.customers-container .customers-box {
  width: 30%;
  background: #fff;
  padding: 5rem 3rem;
}
.customers-container .customers-box .rate .fa-star {
  color: #fc8c76;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
.customers-container .customers-box .profile-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.customers-container .customers-box .profile-box .profile-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-container .customers-box .profile-box .profile-image-container .profile-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.customers-container .customers-box .profile-box .profile-name-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-left: 1rem;
}
.customers-container .customers-box .profile-box .profile-name-box .profile-name {
  color: #463232;
  font-weight: 600;
  line-height: 1;
}
.customers-container .customers-box .profile-box .profile-name-box .user-position {
  color: #7d7d7d;
  font-weight: 500;
}

.customers-box:hover {
  box-shadow: 0 30px 80px 0.07px rgba(92, 92, 92, 0.205);
  transition: 0.2s;
}
.customers-box:hover .main-paragraph {
  color: #463232;
}

.social-absolute {
  position: fixed;
  top: 60rem;
  right: 5rem;
}
.social-absolute li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 2;
}
.social-absolute li i {
  color: #463232;
  font-size: 2rem;
}

#circle {
  width: 6rem;
  height: 6rem;
  background: rgba(255, 166, 0, 0.438);
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 50%;
  position: relative;
  top: 53rem;
  left: 89rem;
}

.logo {
  color: #463232;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Raleway;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 5rem 14rem;
}

.section-side {
  width: 50%;
}

.left-section {
  padding-right: 7rem;
}

.right-section {
  padding-left: 7rem;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-image {
  width: 100%;
  height: 80vh;
  margin-top: 8rem;
}

.section-header {
  color: #463232;
  font-size: 7rem;
  font-weight: 500;
}

.section-title {
  color: #463232;
  font-size: 5rem;
  font-weight: 500;
}

.main-paragraph {
  color: #7d7d7d;
}

.vertical-hr {
  width: 0.16rem;
  height: 14vh;
  background: #463232;
  border: 0;
}

p,
span {
  line-height: 2;
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 5rem;
}
.customers-container #arrow-badge {
  position: absolute;
  top: 485rem;
  right: 14rem;
  z-index: 100;
}
.customers-container #arrow-badge .arrow-btn i {
  margin-left: 1.5rem;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.customers-container #arrow-badge .arrow-btn i:hover {
  background: #463232;
  color: #fff;
  border: 1px solid #463232;
  border-radius: 50%;
  transition: 0.2s;
}
.customers-container .customers-box {
  width: 30%;
  background: #fff;
  padding: 5rem 3rem;
}
.customers-container .customers-box .rate .fa-star {
  color: #fc8c76;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
.customers-container .customers-box .profile-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.customers-container .customers-box .profile-box .profile-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-container .customers-box .profile-box .profile-image-container .profile-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.customers-container .customers-box .profile-box .profile-name-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-left: 1rem;
}
.customers-container .customers-box .profile-box .profile-name-box .profile-name {
  color: #463232;
  font-weight: 600;
  line-height: 1;
}
.customers-container .customers-box .profile-box .profile-name-box .user-position {
  color: #7d7d7d;
  font-weight: 500;
}

.customers-box:hover {
  box-shadow: 0 30px 80px 0.07px rgba(92, 92, 92, 0.205);
  transition: 0.2s;
}
.customers-box:hover .main-paragraph {
  color: #463232;
}

.social-absolute {
  position: fixed;
  top: 60rem;
  right: 5rem;
}
.social-absolute li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 2;
}
.social-absolute li i {
  color: #463232;
  font-size: 2rem;
}

#circle {
  width: 6rem;
  height: 6rem;
  background: rgba(255, 166, 0, 0.438);
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 50%;
  position: relative;
  top: 53rem;
  left: 89rem;
}

.button {
  width: 11rem;
  height: 2.8rem;
  background: #463232;
  color: #fff;
  padding: 1rem 4rem;
  margin-top: 4rem;
  border: solid 2px #463232;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
  box-shadow: 0 30px 70px 10px rgba(92, 92, 92, 0.342);
}

.button:hover {
  background: #fff;
  color: #463232;
  box-shadow: none;
  transition: 0.2s;
}

.button-white {
  width: 11rem;
  height: 2.8rem;
  background: #fff;
  color: #463232;
  padding: 1rem 4rem;
  margin-top: 4rem;
  border: solid 2px #463232;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.button-white:hover {
  background: #463232;
  color: #fff;
  box-shadow: 0 30px 70px 10px rgba(92, 92, 92, 0.342);
  transition: 0.2s;
}

.logo {
  color: #463232;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Raleway;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 5rem 14rem;
}

.section-side {
  width: 50%;
}

.left-section {
  padding-right: 7rem;
}

.right-section {
  padding-left: 7rem;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-image {
  width: 100%;
  height: 80vh;
  margin-top: 8rem;
}

.section-header {
  color: #463232;
  font-size: 7rem;
  font-weight: 500;
}

.section-title {
  color: #463232;
  font-size: 5rem;
  font-weight: 500;
}

.main-paragraph {
  color: #7d7d7d;
}

.vertical-hr {
  width: 0.16rem;
  height: 14vh;
  background: #463232;
  border: 0;
}

p,
span {
  line-height: 2;
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 5rem;
}
.customers-container #arrow-badge {
  position: absolute;
  top: 485rem;
  right: 14rem;
  z-index: 100;
}
.customers-container #arrow-badge .arrow-btn i {
  margin-left: 1.5rem;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.customers-container #arrow-badge .arrow-btn i:hover {
  background: #463232;
  color: #fff;
  border: 1px solid #463232;
  border-radius: 50%;
  transition: 0.2s;
}
.customers-container .customers-box {
  width: 30%;
  background: #fff;
  padding: 5rem 3rem;
}
.customers-container .customers-box .rate .fa-star {
  color: #fc8c76;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
.customers-container .customers-box .profile-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.customers-container .customers-box .profile-box .profile-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-container .customers-box .profile-box .profile-image-container .profile-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.customers-container .customers-box .profile-box .profile-name-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-left: 1rem;
}
.customers-container .customers-box .profile-box .profile-name-box .profile-name {
  color: #463232;
  font-weight: 600;
  line-height: 1;
}
.customers-container .customers-box .profile-box .profile-name-box .user-position {
  color: #7d7d7d;
  font-weight: 500;
}

.customers-box:hover {
  box-shadow: 0 30px 80px 0.07px rgba(92, 92, 92, 0.205);
  transition: 0.2s;
}
.customers-box:hover .main-paragraph {
  color: #463232;
}

.social-absolute {
  position: fixed;
  top: 60rem;
  right: 5rem;
}
.social-absolute li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 2;
}
.social-absolute li i {
  color: #463232;
  font-size: 2rem;
}

#circle {
  width: 6rem;
  height: 6rem;
  background: rgba(255, 166, 0, 0.438);
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 50%;
  position: relative;
  top: 53rem;
  left: 89rem;
}

.overview {
  width: 100%;
  height: 120vh;
  background: url(../images/11.jpg) center/cover no-repeat;
  z-index: -1;
}
.overview #overview-title {
  padding-top: 11rem;
  color: #463232;
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
}
.overview #overview-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13rem;
  padding-left: 14rem;
}
.overview #overview-content .content-left .explanation {
  width: 49%;
}
.overview #overview-content .content-left .explanation .explanation-paragraph {
  margin-bottom: 2rem;
  font-weight: 500;
  color: #463232;
}
.overview #overview-content .content-left .search-box {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  margin-top: 5rem;
}
.overview #overview-content .content-left .search-box input {
  width: 80%;
  padding: 0.5rem 0.8rem;
  border: 0;
  outline: none;
}
.overview #overview-content .content-left .search-box .search-button {
  background: #463232;
  padding: 0.8rem;
}
.overview #overview-content .content-left .search-box .search-button i {
  font-size: 1.6rem;
  color: #fff;
}
.overview #overview-content .content-left .search-box .search-button:hover {
  background: #fff;
  border: 1px solid #463232;
}
.overview #overview-content .content-left .search-box .search-button:hover i {
  color: #463232;
  transition: 0.2s;
}
.overview #overview-content .content-left .button {
  margin-top: 8rem;
}
.overview #overview-content #content-right {
  width: 34%;
}
.overview #overview-content #content-right .explanation-paragraph-right {
  width: 50%;
  margin: 0 0 2rem 4rem;
}

.lenders-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: #fef6f0;
  padding: 3.5rem 14rem;
}
.lenders-container .lenders-header {
  width: 100%;
  margin-bottom: 3rem;
  color: #463232;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: center;
}
.lenders-container .lenders-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.lenders-container .lenders-logo .lender-list {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lenders-container .lenders-logo .lender-list #chase {
  width: 140px;
  height: 25px;
  background: url(../logos/chase-s.png) center/cover no-repeat;
}
.lenders-container .lenders-logo .lender-list #asana {
  width: 130px;
  height: 25px;
  background: url(../logos/asana-s.png) center/cover no-repeat;
}
.lenders-container .lenders-logo .lender-list #google {
  width: 128px;
  height: 42px;
  background: url(../logos/google-s.png) center/cover no-repeat;
}
.lenders-container .lenders-logo .lender-list #buzzfeed {
  width: 130px;
  height: 23px;
  background: url(../logos/buzzfeed-s.png) center/cover no-repeat;
}
.lenders-container .lenders-logo .lender-list #toggle {
  width: 110px;
  height: 38px;
  background: url(../logos/toggle-s.png) center/cover no-repeat;
}
.lenders-container .lenders-logo .lender-list #walmart {
  width: 128px;
  height: 67px;
  background: url(../logos/walmart.png) center/cover no-repeat;
}

.main-section #left-section-unique {
  margin-top: 4rem;
}
.main-section .left-section .section-header {
  margin-top: 4rem;
}
.main-section .left-section #first-aboutus-image {
  background: url(../images/1111.jpg) center/cover no-repeat;
}
.main-section .right-section #second-aboutus-image {
  background: url(../images/77.jpg) center/cover no-repeat;
}
.main-section .right-section #unique-paragraph {
  margin-top: 4rem;
}

.header-container {
  width: 100%;
  text-align: center;
}

#first-product-image {
  background: url(../images/12.jpg) center/cover no-repeat;
}

#second-product-image {
  background: url(../images/81.jpg) center/cover no-repeat;
}

.product-statistics-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #205865;
  margin-top: 4rem;
}
.product-statistics-container .product-statistics {
  width: 7rem;
  margin-bottom: 1rem;
  border-bottom: 3.5px solid #463232;
  font-size: 3rem;
  font-weight: 600;
}

.button-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#second-lenders-container {
  margin-top: 4rem;
}

.lenders-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.lenders-container .product-statistics-box {
  width: 30%;
}
.lenders-container .product-statistics-box .product-statistics {
  color: #463232;
  font-size: 3.5rem;
  font-weight: 600;
}
.lenders-container .product-statistics-box .main-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}

#image {
  background: url(../images/66.jpg) center/cover no-repeat;
  box-shadow: -30px 30px #edd9cb;
}

#paragraph-margin {
  margin: 2rem 0 4rem 0;
}

.customers-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #fef6f0;
  padding: 5rem 14rem;
}
.customers-section .customers-header {
  width: 47%;
  text-align: center;
}

.profile-image1 {
  background: url(../images/p11.jpg) center/cover no-repeat;
}

.profile-image2 {
  background: url(../images/p22.jpg) center/cover no-repeat;
}

.profile-image3 {
  background: url(../images/p33.jpeg) center/cover no-repeat;
}

/*# sourceMappingURL=main.css.map */
