//Base
@import url(./base/reset.css);
@import url(./base/typography.css);
// Utils
@import './utils/colors.scss';
@import './utils/variables.scss';
@import './utils/utils.scss';
// Components
@import './components/buttons.scss';
@import './components/input.scss';

// Overview background image
.overview {
  width: 100%;
  height: 120vh;
  background: url(../images/11.jpg) center/cover no-repeat;
  z-index: -1;

  // Title
  #overview-title {
    padding-top: 6rem;
    color: $main-color;
    text-align: center;
    font: {
      size: 7rem;
      weight: 800;
    }
  }

  // Content container
  #overview-content {
    @include display-jBetween-iCenter();
    margin-top: 13rem;
    padding-left: 14rem;

    // Left content
    .content-left {
      .explanation {
        width: 49%;

        .explanation-paragraph {
          margin-bottom: 2rem;
          color: $main-color;
        }
      }

      // Search
      .search-box {
        @include searchbox();
        margin-top: 5rem;
      }

      // Button: VIEW DETAIL
      .button {
        margin-top: 8rem;
      }
    }

    // Right content
    #content-right {
      width: 34%;

      .explanation-paragraph-right {
        width: 50%;
        margin: 0 0 2rem 4rem;
      }
    } 
  }
}

// Lenders Containe: SOME OF OUR LENDERS
#lenders-container {
  @include display-column-ac-center();
  background: $light-orange;
  padding: 3.5rem;

  .lenders-header {
    margin-bottom: 3rem;
    color: $main-color;
    font: {
      size: 2.2rem;
      weight: 600;
    }
    letter-spacing: 0.2rem;
    text-align: center;
  }

  //
  .lenders-logo {
    @include display-j-between-i-center();

    .lender-list {
      width: 80%;
      @include display-j-between-i-center();

      #chase {
        width: 140px;
        height: 25px;
        background: url(../logos/chase-s.png) center/cover no-repeat;
      }

      #asana {
        width: 130px;
        height: 25px;
        background: url(../logos/asana-s.png) center/cover no-repeat;
      }

      #google {
        width: 128px;
        height: 42px;
        background: url(../logos/google-s.png) center/cover no-repeat;
      }

      #buzzfeed {
        width: 130px;
        height: 23px;
        background: url(../logos/buzzfeed-s.png) center/cover no-repeat;
      }

      #toggle {
        width: 110px;
        height: 38px;
        background: url(../logos/toggle-s.png) center/cover no-repeat;
      }

      #walmart {
        width: 128px;
        height: 67px;
        background: url(../logos/walmart.png) center/cover no-repeat;
      }
    }
  }
}

// About Us Section
.main-section {
  // Left side
  #left-section-unique {
    margin-top: 4rem;
  }
  .left-section {
    .section-header {
      margin-top: 4rem;
    }

    .main-image {
      background: url(../images/1111.jpg) center/cover no-repeat;
    }
  }
  // Right side
  .right-section {
    .main-image {
      background: url(../images/77.jpg) center/cover no-repeat;
    }

    #unique-paragraph {
      margin-top: 4rem;
    }
  }
}

// Products Section
.header-container {
  width: 100%;
  text-align: center;
}

.statistics-container {
  width: 80%;
  @include display-jBetween-iCenter();
  color: $sea-green;
  margin-top: 4rem;

  .statistics {
    width: 7rem;
    margin-bottom: 1rem;
    border-bottom: 3.5px solid $main-color;
    font: {
      size: 3rem;
      weight: 600;
    }
  }
}

.button-container {
    width: 80%;
    @include display-jBetween-iCenter();
  }